/* !FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&family=Poppins:wght@300;400&display=swap');
@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* !BASE STYLES/RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --light-color: #ECEFF4;
    --dark-color: #001219;
    --border-top-color: rgba(0, 0, 0, .1);
    --link-hover-color: rgba(255, 255, 255, .2);
    --header-drop-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, 0.30);
    --card-drop-shadow: 7px 7px 12.5px rgba(0, 0, 0, 0.3);
    --title-font-family: 'Fira Code', monospace;;
    --body-font-family: 'Poppins', 'sans-serif';
    --container-padding: 1.5rem;
    --section-vertical-spacing: 8rem;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    transition-delay: .2s;
    transition-duration: 1s;
}

body {
    font-family: var(--body-font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: var(--light-color);
    color: var(--dark-color);
    overflow-x: hidden;
    transition-delay: .2s;
    transition-duration: 1s;
}

body.dark-theme {
    --light-color: #001219;
    --dark-color: #ECEFF4;
    --border-top-color: rgba(255, 255, 255, .1);
    --header-drop-shadow: 1.5px 1.5px 10px rgba(0, 0, 0, .8);
    --card-drop-shadow: 7px 7px 12.5px rgba(0, 0, 0, .8);
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

span {
    display: inline-block;
}

i {
    font-size: 2.4rem;
}

input,
button,
textarea {
    font: inherit;
    color: inherit;
    background-color: transparent;
    border: none;
    outline: none;
}

/* !REUSABLE CLASSES */
.container {
    max-width: 38rem;
    margin: 0 auto;
    padding: 0 var(--container-padding);
}

.section {
    padding-block: var(--section-vertical-spacing);
    position: relative;
}

.section:not(.hero)::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(129, 161, 193, .12) 0%, rgba(129, 161, 193, 0) 100%);
    z-index: -1;
}

.has-sparkles,
.has-sparkles-alt {
    position: relative;
}

.has-sparkles::before,
.has-sparkles::after {
    content: '';
    position: absolute;
    background: url('../images/sparkle.png') center no-repeat;
    background-size: cover;
    transition-delay: .2s;
    transition-duration: 1s;
}

.d-grid {
    display: grid;
}

/* !HEADER */
.header {
    margin-bottom: 5rem;
    box-shadow: var(--header-drop-shadow);
    position: sticky;
    top: 0;
    padding-bottom: 0;
    background-color: var(--light-color);
    z-index: 999;
    transition-property: background-color, padding-bottom, box-shadow;
    transition-delay: .2s;
    transition-duration: 1s;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    position: relative;
}

.logo {
    font-family: var(--title-font-family);
    font-size: 3rem;
    font-weight: 600;
    vertical-align: auto;
    transition-property: padding-top;
    transition-delay: .2s;
    transition-duration: 1s;
}

.navbar-buttons {
    display:flex;
    column-gap: .5rem;
    padding: 0, .5rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    border-radius: 2rem;
    position: relative;
    z-index: 999;
    transition-delay: .2s;
    transition-duration: 1s;
}

.button {
    cursor: pointer;
}

.icon-button {
    width: 4rem;
    height: 4rem;
    display: flex;
}

.icon-button i {
    margin: auto;
}

.close-icon,
.theme-on {
    display: none;
}

.menu {
    position: absolute;
    right: 1.55rem;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .8rem 1.5rem;
    border-radius: 2rem;
    z-index: -1;
    pointer-events: none;
    transform: scale(0);
    transform-origin: right;
    transition-delay: .2s;
    transition-duration: 1s;
}

.list {
    display: flex;
    gap: 2.5rem;
}

.menu > .list{
    opacity: 0;
    transition-property: opacity;
    transition-delay: .2;
    transition-duration: 1.5s;
}

.menu > .list .list-link {
    text-transform: uppercase;
    transition-delay: .2;
    transition-duration: 1s;
    font-size: 1.4rem;
    color: var(--light-color);
}

.list-link:hover,
.list-link:focus,
.scroll-top:hover,
.scroll-top:focus {
    opacity: .6;
}

.list-link span {
    font-weight: bold;
}

/* !JAVASCRIPT STYLES */
.active.menu {
    z-index: initial;
    pointer-events: initial;
    transform: scale(1) translateY(4.5rem);
}

.active.menu > .list {
    opacity: 1;
    transition-property: opacity;
    transition-delay: .3s;
    transition-duration: 1s;
}

.active .open-icon {
    display: none;
}

.active .close-icon {
    display: block;
}

.dark-theme .theme-off {
    display: none;
}

.dark-theme .theme-on {
    display: block;
}

/* !HERO STYLES*/
.title {
    font-family: var(--title-font-family);
    font-weight: 300;
    text-transform: uppercase;
}

.center-title-group {
    text-align: center;
}

.left-title-group {
    display: inline-block;
    text-align: left;
    border: .6rem solid;
    border-width: clamp(.3rem, .35vw, .4rem);
    border-color: --dark-color;
    border-radius: clamp(2rem, 2.5vw, 3rem);
    padding: 1rem;
    box-shadow: var(--header-drop-shadow);
    transition: box-shadow 1.2s;
}

.main-title {
    font-size: clamp(4rem, 10vw, 10rem);
    line-height: 1.2;
}

.sub-main-title {
    font-size: clamp(2rem, 5vw, 5rem);
    line-height: 1;
}

.dark-theme .has-sparkles::before,
.dark-theme .has-sparkles::after {
    background: url('../images/sparkle_light.png') center no-repeat;
    background-size: cover;
}

.has-sparkles::before {
    width: 1rem;
    height: 1rem;
    top: -2.2rem;
    right: -3rem;
}

.has-sparkles::after {
    width: 1.3rem;
    height: 1.3rem;
    top: -1.2rem;
    right: -2rem;
}

.has-sparkles-alt::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 2vw;
    max-width: 5rem;
    height: 2vw;
    max-height: 5rem;
    background: url('../images/sparkle_alt.png') center no-repeat;
    background-size: cover;
}

.dark-theme .has-sparkles-alt::after {
    background: url('../images/sparkle_alt_light.png') center no-repeat;
    background-size: cover;
}

/* !ABOUT ME STYLES */
.section-description {
    gap: 5rem;
    margin-bottom: 3.5rem;
}

.description {
    font-size: 2rem;
    line-height: 3.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

.text-bold {
    font-weight: bold;
}

.text-semi-bold {
    font-weight: 500;
}

.description-image {
    width: 25rem;
    height: 25rem;
    margin: 0 auto;
    transform: rotate(15deg);
    margin-bottom: 3rem;
}

.description-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.description-image.has-sparkles::before {
    width: 1.5rem;
    height: 1.5rem;
    top: 2rem;
    right: -2rem;
}

.description-image.has-sparkles::after {
    width: 2rem;
    height: 2rem;
    top: 10rem;
    right: -2rem;
}

.tech-stack {
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 2.5rem;
}

.tech-stack-item {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.tech-stack-item i{
    font-size: 5rem;
    opacity: .6;
    transition-delay: .2s;
    transition: opacity 1s;
}

.dark-theme .tech-stack-item i {
    opacity: .8;
    transition-delay: .2s;
    transition: opacity 1s;
}

.tech-stack-item::before,
.tech-stack-item::after {
    position: absolute;
    top: -1rem;
    transform: translateY(-100%);
    opacity: 0;
    transition: transform .5s, opacity  .5s;
}

.tech-stack-item::before {
    content: '';
    border: 1rem solid transparent;
    border-top-color: var(--dark-color);
    transform: translateY(0);
    z-index: 5;
}

.tech-stack-item::after {
    content: attr(data-tooltip);
    width: max-content;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: .5rem 1rem;
    border-radius: .4rem;
}

.tech-stack-item:hover::before {
    opacity: 1;
    transform: translateY(-.6rem);
}

.tech-stack-item:hover::after {
    opacity: 1;
    transform: translateY(calc(-100% + -.5rem));
}

/* !PROJECTS STYLES */
.section-title-container {
    display: inline-block;
    margin-bottom: 5rem;
}

.section-title {
    font-size: clamp(4rem, 7vw, 6rem);
}

.section-subtitle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    margin-left: 1rem;
}

.subtitle-number {
    width: 5rem;
    height: 5rem;
    border: 2px solid var(--dark-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: border;
    transition-delay: .2s;
    transition-duration: 1s;
}

.subtitle-number.has-sparkles::before,
.subtitle-number.has-sparkles::after {
    width: 1rem;
    height: 1rem;
}

.subtitle-number.has-sparkles::before {
    top: 4rem;
    right: 5rem;
}

.subtitle-number.has-sparkles::after {
    top: -1rem;
    right: -1rem;
}

.section-subtitle {
    font-size: clamp(2rem, 5vw, 4rem);
}

.project-cards {
    gap: 2.5rem;
}

.card-image {
    height: 30rem;
    box-shadow: var(--card-drop-shadow);
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: box-shadow 1.2s;
    background-size: 200% 100%;
    -webkit-transition: background-position, ease .5s;
    -moz-transition: background-position, ease .5s;
    -ms-transition: background-position, ease .5s;
    -o-transition: background-position, ease .5s;
    transition: background-position, ease .5s;
}

.card-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1.5rem;
}

#card1{
    background-image: linear-gradient(to right, #b3bbce 50%, #BF616A 50%);
}

#card2{
    background-image: linear-gradient(to right, #b3bbce 50%, #b19cd9  50%);
}

#card3{
    background-image: linear-gradient(to right, #b3bbce 50%, #81A1C1 50%);
}

.project-card.project-card-1:hover .card-image,
.project-card.project-card-1:focus .card-image {
    background-position: -100%;
}

.project-card.project-card-2:hover .card-image,
.project-card.project-card-2:focus .card-image {
    background-position: -100%;
}

.project-card.project-card-3:hover .card-image,
.project-card.project-card-3:focus .card-image {
    background-position: -100%;
}

.card-heading {
    color: var(--dark-color);
    transition-delay: .2s;
    transition-duration: 1s;
    padding-bottom: 3rem;
}

.card-title {
    font-size: 2.5rem;
    font-weight: 400;
}

.card-subtitle {
    font-size: 2rem;
    line-height: 3.25rem;
    opacity: .8;
}

/* !CONTACT STYLES */
.contact-form {
    display: flex;
    flex-direction: column;
}
.input {
    position: relative;
    margin-bottom: 5rem;
}

.input-label {
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform .3s;
}

.input input {
    width: 100%;
    border-bottom: 1px solid var(--dark-color);
    padding: .5rem;
    padding-top: 2.5rem;
    transition-property: border-color;
    transition-delay: .2s;
    transition-duration: 1s;
}

.input input::selection {
    background: #b3bbce;
}

.input input:focus + .input-label {
    transform: translateY(-1rem);
}

.input input:focus {
    border-bottom-width: 2.5px;
}

.form-button {
    display: inline-block;
    padding: 1rem 4rem;
    text-transform: uppercase;
    margin: 0 auto;
    border: 2px solid var(--dark-color);
    border-radius: 3rem;
    transition-property: border;
    transition-delay: .25s;
    transition-duration: 1s;
}

.required-field {
    font-size: 1.25rem;
    color: #ff7575;
    transform: translateY(-.5rem);
}

.snackbar-container {
    max-height: 1rem;
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#snackbar {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    text-transform: uppercase;
    visibility: hidden;
    display: inline-block;
    background-color: #b3bbce;
    color: #001219;
    text-align: center;
    border-radius: 3rem;
    padding: 1rem 2.5rem;
    z-index: 1000;
}

.show {
    visibility: visible !important;
    -webkit-animation: fadein .5s, fadeout 1s 3.5s;
    animation: fadein .5s, fadeout 1s 3.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* !FOOTER STYLES */
.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    border-top: 1px solid var(--border-top-color);
    padding: 5rem 2rem 2rem 2rem;
}

.footer.list-link {
    color: var(--dark-color);
}

#socials {
    display: flex;
    flex: 1;
    justify-content: right;
    margin-left: auto;
}

.footer > span {
    display: flex;
    justify-content: center;
    flex: 1;
    white-space: nowrap;
}
.scroll-top {
    flex: 1;
    margin-right: auto;
    display: flex;
    align-items: center;
    color: var(--dark-color);
    white-space: nowrap;
    transition-delay: .2s;
    transition-duration: 1s;
}

/* !SCROLLBAR */
::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: inherit;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
    background-color: #b3bbce;
    border-radius: 10rem;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #808694;
}

/* !MEDIA QUERIES */
@media screen and (min-width: 480px) {
    .container {
        max-width: 70rem;
    }

    .left-title-group {
        padding: 2rem;
    }

    .main-title {
        font-size: clamp(5rem, 10vw, 10rem);
    }
}

@media screen and (min-width: 578px) {
    .scroll-top {
        order: 1;
    }
    #socials {
        order: 3;
    }
    .footer > span {
        order: 2;
    }
}

@media screen and (min-width: 769px) {
    .container {
        max-width: 90rem;
    }

    .section-description {
        grid-template-columns: 1.5fr 1fr;
        align-items: center;
    }

    .description {
        font-size: 2.4rem;
    }

    .description-image {
        width: 30rem;
        height: 30rem;
    }

    .project-cards {
        grid-template-columns: repeat(9, 1fr);
        gap: 5rem;
        align-items: center;
    }

    .project-card.project-card-1 {
        grid-column: 1/6;
        grid-row: 1/5;
    }

    #corporate {
        grid-column: 6/10;
        grid-row: 1/5;
        justify-items: center;
        padding-bottom: 0;
        text-align: left;
    }

    .project-card.project-card-2 {
        grid-column: 5/10;
        grid-row: 5/10;
    }

    #npcompletionist {
        grid-column: 1/5;
        grid-row: 5/10;
        padding-bottom: 0;
        text-align: right;
    }

    .project-card.project-card-3 {
        grid-column: 1/6;
        grid-row: 10/15;
    }

    #sugar-and-spice {
        grid-column: 6/10;
        grid-row: 10/15;
        padding-bottom: 0;
        text-align: left;
    }

    .input-group {
        display: flex;
        column-gap: 5rem;
    }

    .input {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) {
    .container {
        max-width: 115rem;
    }
}

@media screen and (min-width: 1920px) {
    .section:not(.hero)::before {
        width: 70%;
    }
}

@media screen and (min-width: 2560px) {
    .section:not(.hero)::before {
        width: 50%;
    }
}

@media screen and (min-width: 3840px) {
    .section:not(.hero)::before {
        width: 40%;
    }
}